{% extends 'core/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block homeprofile %}active{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'core/css/login_register_responsive.css' %}">
{% endblock %}
{% block main %}
    <div id="container" class="container w-50 mt-5 mb-5 shadow p-5">
        <h3 class="text-center mb-2">Change your password</h3>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endif %}
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <h4>error</h4>
                {% endfor %}
            {% endif %}
            <!-- {% for fm in form %}
                {{fm.label_tag}}{{fm}}{{fm.errors}}
            {% endfor %} -->
            {{form.as_p}}
            <div class="text-center">
                <input type="submit" value="Set Password" class="btn btn-success">
            </div>
        </form>
        <div class="text-center">
            <a href="{% url 'profile' %}" class="btn btn-primary m-2">Back to profile</a>
        </div>
    </div>
{% endblock %}