{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block homelogin %}active{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'core/css/login_register_responsive.css' %}">
{% endblock %}
{% block main %}
    <div id="container" class="container w-50 mt-5 mb-5 shadow p-5">
        <h3 class="text-center">Login Here</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="text-center">
                <input type="submit" value="Login" class="btn btn-success mt-2 mb-2">
            </div>
            <div class="text-center">Don't have an account? <a href="{% url 'register' %}">Create one</a></div>
        </form>
    </div>
{% endblock %}